# DOCKER
DOCKER_HCORP_PORT=8200
DOCKER_HCORP_TOKEN=root
DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_DB_NAME='postgres'
DOCKER_POSTGRES_USERNAME='postgres'
DOCKER_POSTGRES_PASSWORD='postgres'

# GRPC
GRPC_MAX_WORKERS=100
GRPC_MAX_CONCURRENT_STREAMS=100
GRPC_PORT=50051

# DB
DB_DSN='postgresql+psycopg2://postgres:postgres@localhost:5432/postgres'
DB_POOL_SIZE=100
DB_MAX_OVERFLOW=20

# VAULT
HVAC_URL=http://127.0.0.1:8200
HVAC_TOKEN=root
HVAC_MASTER_KEY=ex-master-key
HMAC_KEY=ex-hmac-key

# FLASK
SECRET_KEY=ex-flask-secret
